/* adding css to html code of footer *\


.boss{
  display:flex;
  gap:80px;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.content2{
  display:flex;
  margin-top:40px;
  gap:20px;
}

.content2{
  background-color:lightgray;
}

footer{
  background-color:lightblue;
  height:300px;
}

.content2 p:hover{
  background-color:white;
}
